@charset "UTF-8";
* { font-family: "Roboto", sans-serif; }

header { position: relative; height: 50px; }

nav { position: fixed; width: 100%; height: 50px; background-color: #212121; z-index: 5; }

.hamburger { display: none; }

.menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 13px 70px; margin: 0; list-style-type: none; }
.menu_link { font-weight: 300; font-size: 15px; color: #FFFFFF; text-decoration: none; }
.menu_link:hover { color: #ff5656; }
.menu_item { border-right: 2px dotted #000; padding-right: 28px; }
.menu_item:last-child { border: none; }

.subheader { position: absolute; top: 50px; width: 100%; height: 87px; background: rgba(0, 0, 0, 0.6); }
.subheader_logo { display: block; max-width: 100%; margin-top: 19px; }
.subheader_official { margin-top: 5px; opacity: 0.5; font-weight: 400; font-size: 13px; color: #FFFFFF; }
.subheader_call { margin-top: 23px; font-weight: 300; font-size: 12px; color: #FFFFFF; text-align: right; }
.subheader_phone { display: block; font-size: 22px; font-weight: 400; text-transform: uppercase; color: #FFFFFF; text-decoration: none; text-align: right; }
.subheader_phone:hover { text-decoration: none; color: #fff; }
.subheader_btn { margin-top: 22px; width: 172px; height: 46px; background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF)); background: linear-gradient(to top, #1EACC7 0%, #4CE2FF 100%); -webkit-box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12); box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12); border: none; border-radius: 4px; font-weight: 400; font-size: 14px; text-align: center; text-transform: uppercase; color: #FFFFFF; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
.subheader_btn:hover { background-image: none; background-color: #1EACC7; }

.promo { min-height: 779px; background: url(../img/bg1.jpg) center center/cover no-repeat; padding: 150px 0 180px 0; }
.promo_header { font-weight: 900; font-size: 60px; line-height: 60px; text-align: center; text-transform: uppercase; color: #FFFFFF; margin: 0; }
.promo_subheader { font-weight: 900; font-size: 35px; line-height: 35px; text-align: center; text-transform: uppercase; color: #FFFFFF; margin: 0; margin-top: 22px; }
.promo_descr { margin-top: 18px; font-weight: 300; font-size: 18px; line-height: 24px; text-align: center; color: #FFFFFF; }
.promo_btn { display: block; margin: 115px auto 0; width: 259px; height: 63px; background: -webkit-gradient(linear, left bottom, left top, from(#1EACC7), to(#4CE2FF)); background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%); -webkit-box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12); box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12); border: none; border-radius: 4px; font-size: 18px; font-weight: 400; text-align: center; text-transform: uppercase; color: #FFFFFF; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21); }
.promo_btn:hover { background-image: none; background-color: #1EACC7; }

.reasons { padding: 71px 0 68px 0; min-height: 849px; }
.reasons_block { min-height: 160px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 35px; }
.reasons_round { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 116px; height: 116px; background: #1EACC7; border-radius: 100%; margin-right: 25px; }
.reasons_descr { width: 371px; }
.reasons_subtitle { font-size: 17px; font-weight: 400; line-height: 21px; color: #1EACC7; }
.reasons_text { font-size: 17px; font-weight: 300; line-height: 21px; color: #202020; }

.label { position: relative; margin: 0 auto; width: 115px; height: 27px; padding: 5px 12px; background: #000000; font-size: 11px; text-transform: uppercase; color: #FFFFFF; font-weight: 300; text-align: center; z-index: 1; }
.label_white { background: #fff; color: #000; }

.title { position: relative; margin: 0 auto; margin-top: 30px; font-size: 38px; font-weight: 700; text-align: center; text-transform: uppercase; color: #222222; z-index: 1; }
.title_white { color: #fff; }

.subtitle { position: relative; margin-top: 0; font-weight: 300; font-size: 17px; color: #222222; text-align: center; z-index: 1; }
.subtitle_white { color: #fff; }

.mobile { min-height: 864px; padding: 48px 0 80px 0; background: url("../img/mobile_bg.png") center center/cover no-repeat; }
.mobile .row { margin-top: 32px; }
.mobile_item { position: relative; width: 320px; height: 280px; margin: 0 auto; margin-bottom: 19px; padding-top: 80px; }
.mobile_item_1 { background: url("../img/карточка 1.png") center center/cover no-repeat; }
.mobile_item_2 { background: url("../img/карточка 2.png") center center/cover no-repeat; }
.mobile_item_3 { background: url("../img/карточка 3.png") center center/cover no-repeat; }
.mobile_item_4 { background: url("../img/карточка 4.png") center center/cover no-repeat; }
.mobile_item_5 { background: url("../img/карточка 5.png") center center/cover no-repeat; }
.mobile_item_6 { background: url("../img/карточка 6.png") center center/cover no-repeat; }
.mobile_item_subtitle { font-weight: 400; font-size: 24px; line-height: 31px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; text-transform: uppercase; color: #FFFFFF; }
.mobile_item_plus { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: absolute; bottom: 35px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 29px; height: 29px; background-color: #000000; margin: 0 auto; border-radius: 100%; cursor: pointer; }
.mobile_item_plus::before { content: ""; width: 14px; height: 2px; background-color: #1EACC7; -webkit-transition: 0.3s all; transition: 0.3s all; }
.mobile_item_plus::after { position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); content: ""; width: 2px; height: 14px; background-color: #1EACC7; -webkit-transition: 0.3s all; transition: 0.3s all; }
.mobile_item_plus:hover::before, .mobile_item_plus:hover::after { background-color: #ff5656; }

.chois { position: relative; min-height: 898px; padding: 59px 0 203px 0; background: url("../img/mob_bg.png") center center/cover no-repeat; }
.chois_img { position: relative; display: block; margin: 54px auto 0 auto; z-index: 2; }
.chois_text { font-weight: 300; font-size: 17px; line-height: 24px; text-align: center; color: #222222; }
.chois_black { position: absolute; top: 0; left: 0; height: 502px; width: 100%; background: #070716; z-index: 1; }

.require { padding: 68px 0 87px 0; }
.require_block { margin: 33px 0; }
.require_block_nmb { margin-bottom: 0; }
.require_title { font-weight: 400; font-size: 22px; color: #1CA8C3; }
.require_list { position: relative; list-style-type: none; padding-left: 50px; margin-top: 20px; }
.require_list li { font-weight: 300; font-size: 17px; line-height: 24px; margin-bottom: 10px; }
.require_list li::before { content: ""; display: inline-block; position: absolute; left: 17px; width: 21px; height: 20px; background: url("../icons/8/Rectangle.svg") center center/cover no-repeat; }
.require_descr { font-weight: 300; font-size: 17px; color: #1CA8C3; }
.require .warning .require_title { color: #FF5656; }
.require .warning .require_list li::before { background: url("../icons/8/check_red 2.svg") center center/cover no-repeat; }

.world { min-height: 716px; padding: 51px 0 21px 0; background: url("../img/world_bg.jpg") center center/cover no-repeat; }
.world_descr { margin-top: 470px; font-weight: 400; font-size: 15px; text-align: center; text-transform: uppercase; color: #1FBAD6; -webkit-box-align: bottom; -ms-flex-align: bottom; align-items: bottom; }

footer { min-height: 155px; padding: 11px 23px 37px 23px; }
footer a:hover { text-decoration: none; }

.footer_divider { width: 301px; height: 7px; background: #1FBAD6; margin: 0 auto; }
.footer_wrapper { margin-top: 31px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
.footer_wrapper > div { width: 33%; }
.footer_wrapper > div:nth-child(3) { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
.footer_social { width: 160px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.footer_social_itam { width: 35px; height: 35px; background: #070716; border-radius: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-decoration: none; }
.footer_social_itam i { color: #fff; }
.footer_nav { width: 390px; margin: 0 auto; }
.footer_nav_main { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 10px; }
.footer_nav_main a { color: #000000; text-transform: uppercase; text-decoration: none; font-weight: 300; font-size: 15px; }
.footer_nav_sub { margin-top: 10px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
.footer_nav_sub a { font-weight: 300; font-size: 11px; text-transform: uppercase; text-decoration: none; color: #999999; }
.footer_nav_lang { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 0 auto; margin-top: 10px; }
.footer_nav_lang a { text-align: center; text-decoration: none; text-transform: uppercase; font-weight: 300; color: #1FBAD6; }
.footer_nav_download a { decoration: none; }

.xs-visible { display: none; }

@media (max-width: 1200px) { .menu_item { padding-right: 20px; }
  .menu_item:last-child { border: none; }
  .menu_link { font-size: 13px; }
  .promo_header { font-size: 55px; }
  .promo_subheader { font-size: 30px; }
  .reasons_descr { width: 330px; }
  .reasons_block { -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; }
  .mobile_item { width: 300px; }
  .mobile_item_subtitle { font-size: 22px; }
  .choise { padding: 55px 0; min-height: 840px; }
  .require br { display: none; }
  .footer_wrapper > div { width: 50%; }
  .footer_wrapper > div:nth-child(1) { width: 25%; }
  .footer_wrapper > div:nth-child(3) { width: 25%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
  .footer_download { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .footer_download a { margin: 0 3px; }
  .footer_download a img { width: 100%; } }
@media (max-width: 991px) { .menu_item { padding-right: 10px; }
  .menu_item:last-child { border: none; }
  .menu_link { font-size: 10px; }
  .subheader_logo img { width: 100%; }
  .subheader_official { font-size: 12px; }
  .subheader_phone { font-size: 20px; }
  .subheader_btn { width: 130px; height: 35px; font-size: 11px; margin-top: 30px; }
  .promo_header { font-size: 41px; }
  .promo_subheader { font-size: 25px; }
  .promo_descr { font-size: 15px; }
  .reasons .title { font-size: 35px; }
  .reasons_block { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .reasons_descr { margin-top: 10px; }
  .mobile .title { font-size: 35px; }
  .mobile .subtitle { font-size: 15px; }
  .chois { min-height: 800px; padding-bottom: 150px; }
  .chois_img { width: 100%; }
  .require .title { font-size: 35px; }
  .require_title { font-size: 20px; }
  .require_list li { font-size: 15px; }
  .footer_wrapper { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .footer_wrapper > div { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 20px; }
  .footer_wrapper > div:nth-child(1) { width: 100%; }
  .footer_wrapper > div:nth-child(3) { width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
@media (max-width: 767px) { .menu { position: fixed; top: 0; width: 50%; height: 100vh; left: -100%; background-color: rgba(0, 0, 0, 0.8); -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 20px 15px; -webkit-transition: 0.6s all; transition: 0.6s all; }
  .menu_active { left: 0; }
  .menu_item { border: none; margin: 10px 0; padding-right: 0; }
  .menu_link { font-size: 20px; }
  .hamburger { display: block; position: absolute; right: 10px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 26px; height: 12px; }
  .hamburger span { display: block; width: 100%; height: 2px; background-color: #fff; margin-bottom: 2px; -webkit-transition: 0.5s all; transition: 0.5s all; }
  .hamburger_active span { margin-bottom: -2px; }
  .hamburger_active span:nth-child(1) { -webkit-transform: translateY(3px) rotate(-45deg); transform: translateY(3px) rotate(-45deg); }
  .hamburger_active span:nth-child(2) { display: none; }
  .hamburger_active span:nth-child(3) { -webkit-transform: translateY(3px) rotate(45deg); transform: translateY(3px) rotate(45deg); }
  .xs-hidden { display: none; }
  .xs-visiblea { display: block; }
  .subheader_phone { display: block; margin-top: 10px; font-size: 16px; font-weight: 300; text-align: center; }
  .subheader_btn { display: block; margin: 0 auto; width: 170px; height: 40px; }
  .subheader_logo img { width: 92%; margin-top: 10px; }
  .promo_header { font-size: 35px; }
  .promo_subheader { font-size: 22px; margin-top: 0px; }
  .promo_descr { font-size: 14px; }
  .reasons .title { font-size: 27px; }
  .mobile .title { font-size: 31px; }
  .chois .title { font-size: 35px; }
  .chois .subtitle { font-size: 15px; }
  .world .title { font-size: 35px; }
  .footer_wrapper { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .footer_wrapper > div { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-bottom: 20px; }
  .footer_wrapper > div:nth-child(1) { width: 100%; }
  .footer_wrapper > div:nth-child(3) { width: 100%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }
@media (max-width: 575px) { nav { height: 30px; }
  header { height: 30px; }
  .menu { width: 85%; }
  .menu_item { width: 100%; text-align: center; padding: 5px 0; }
  .menu_link { display: block; }
  .hamburger_active span:nth-child(1) { -webkit-transform: translateY(5px) rotate(-45deg); transform: translateY(5px) rotate(-45deg); }
  .hamburger_active span:nth-child(3) { -webkit-transform: translateY(5px) rotate(45deg); transform: translateY(5px) rotate(45deg); }
  .subheader { height: 60px; top: 30px; }
  .subheader_logo { margin-top: 11px; }
  .subheader_phone { margin-top: 8px; font-size: 12px; font-weight: 400; text-align: center; text-transform: uppercase; }
  .subheader_btn { width: 110px; height: 22px; font-size: 10px; margin-top: 6px; font-weight: 300; }
  .subheader_btn_hover { background-image: -webkit-gradient(linear, left bottom, left top, from(#ff5656), to(#4ce2ff)); background-image: linear-gradient(to top, #ff5656 0%, #4ce2ff 100%); }
  .promo { min-height: 400px; padding: 101px 0 50px 0; }
  .promo_header { font-size: 30px; line-height: 35px; }
  .promo_subheader { margin-top: 14px; font-size: 20px; line-height: 27px; }
  .promo_descr { display: none; }
  .promo_btn { width: 210px; height: 50px; font-size: 16px; font-weight: 300; }
  .reasons_descr { width: 100%; }
  .footer_divider { width: 250px; } }

/*# sourceMappingURL=style.css.map */